/* Estilos CSS para la tienda de lentes de sol */
html{
    background-color: #000000;
    color: #f5f5f5;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

*,
*::after,
*::before{
    scroll-behavior: smooth;
    box-sizing:inherit
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.header-logo{
    /* width: 100%; */
    height: 2.5rem;
}

.header-logo .img{
    height: 2.5rem;
    display: flex;
    justify-self: center;
    overflow-y:hidden;
}

.hero-image{
    max-width: 100%;
    height: 90vh;
    background: url("../assets/portada_2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu {
    background-color: #000;
    padding: 10px 20px;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.behavior{
    background-color: #ffff00;
    color: #000000;
    padding: 4px;
    position: sticky;
    top: 55px;
    font-size: .9rem;
    z-index: 999;
}

.catalogo {
    padding: 0 20px;
    text-align: center;
}


.catalogo h2{
    font-size: 2rem;
}

.producto {
    border: 1px solid #ddd;
    margin: 20px 20px 0 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(252, 252, 252, 0.5);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    margin-bottom: -5px;
    position: relative;
}

.slider {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.slider img {
    width: 100%;
    border-radius: 5px;
}

.precio-producto{
    position: absolute;
    top: -6px ;
    left: 10px;
    background-color: red;
    padding: 2px 5px;
    border-radius: 0 0 10px;
    font-weight: bold;
}

@keyframes pulse {

    0%,50%{transform: translateY(0);}
    40%{transform: translateY(-10px);}
    60%{transform: translateY(-5px);}
}

.flecha{
    position: absolute;
    top: 53%;
    right: 25px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    animation: flechas 1s linear infinite;
}

@keyframes flechas {

    0%,50%{transform: translateX(0);}
    40%{transform: translateX(-5px);}
    60%{transform: translateX(-3px);}

}

.btn-whatsapp {
    background-color: #25D366;
    color: #0a0a0a;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.btn-whatsapp::after{
    content: "comprar ahora";
}

.otro::before{
    content: "KdeamSunglasses";
}

.kool::before{
    content: "KoolPeruSunglasses";
}

.bamboo_p{
    margin: 10px 0;
}

.bamboo_p::before{
    content: "Kool Personalizables";
}

.uv-pol-1mgar{
    max-width: 100%;
    height: 4rem;
    margin-bottom: 1.5rem;
    background: url("../assets/uv-pol-1mgar.jpg");
    background-size: cover;
    background-position: 65% 0;
}

.uv-pol-2mgar{
    max-width: 100%;
    height: 4rem;
    margin-bottom: 1.5rem;
    background: url("../assets/uv-pol-2mgar.jpg");
    background-size: contain;
    background-position: 65% 0;
}

.uv-pol-3mgar{
    max-width: 100%;
    height: 4rem;
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    background: url("../assets/uv-pol-3mgar.jpg");
    background-size: contain;
    background-position: 65% 0;
}
