html{
    box-sizing: border-box;
    font-size: 16px;
    --color-letra: #fff;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
    position: relative;
}

*,*::after,*::before{
    box-sizing: inherit;
}

img{
    width: 100%;
    height: auto;
}

.hero-image{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../assets/hero_image_2.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-105px);
}

nav{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding: 10px 0;
    transition: background-color 0.3s;
    z-index: 100;
    /* backdrop-filter: blur(10px); */
}

nav.scrolled{
    background-color: #1a1919;
}

nav a{
    color: #fff;
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover{
    background-color: rgba(200, 198, 198, 0.6);
    border-radius: 20px;
    transform: scale(1.5);
}

.logo{
    margin: 0 20px;
}

.logo img{
    height: 60px;
}

.pre-portada{
    background-color: #000;
    width: inherit;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.portada{
    border: thin solid #fff;
    background-color: skyblue;
    width: inherit;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.menu-btn, .menu{
    display: none;
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        gap: 10px;
    }
    nav a {
        display: none;
    }
    .logo img {
        height: 40px;
    }

    .portada{
        width: 100%;
        height: 20vh;
    }

    .burger{
        display:block;
    }

    .menu-btn, .menu{
        display: block;
    }

    /* Ocultamos el checkbox */
    #toggle-menu{
        display: none;
    }

    /* Botón para abrir el menú */
    .menu-btn{
        position: fixed;
        top: 230px;
        right: 0;
        background-color: #fff;
        color: #000;
        padding: 10px 15px;
        border-radius: 10px 0 0 10px;
        cursor: pointer;
        font-weight: bold;
        z-index: 1001;
        transition: opacity .3s ease;
    }


    /* Ocultar el botón cuando el menú está abierto */
    #toggle-menu:checked + .menu-btn{
        opacity: 0;
        pointer-events: none;
    }

    /* Menú oculto por defecto */
    .menu{
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(260px);
        width: 70%;
        height: 100vh;
        background: #ffffff;
        transition: rigth .10s ease;
        z-index: 1000;
        padding: 20px;
        box-shadow: -2px 0 10px rgba(0, 0, 0, .2);
    }

    /* Mostrar menú cuando el checkbox está activado */
    #toggle-menu:checked ~ .menu{
        transform: translateX(0);
        transition: transform .3s ease;
    }

    .menu h3{
        margin-bottom: 20px;
    }

    .menu a{
        display: block;
        color: #000;
        text-decoration: none;
        margin: 10px 0;
        font-size: 18px;
        border-bottom: 1px solid #444;
        padding-bottom: 5px;
    }

    /* Fondo oscuro cuando el menú está abierto */
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        z-index: 900;
        display: none;
    }

    #toggle-menu:checked ~ .overlay {
        display: block;
    }

    .container-rrss{
        display: flex;
        justify-content: space-evenly;
    }

    .container-rrss a i{
        font-size: x-large;
    }


}


.post-personalizables{
    background: url("../assets/post-personalizables.jpg") center/cover no-repeat;
}

.post-koolperu{
    background: url("../assets/post-koolperu.jpg") center/cover no-repeat;
}

.post-otras-marcas{
    background: url("../assets/post-otras-marcas.jpg") center/cover no-repeat;
}

.post-accesorios{
    background: url("../assets/post-accesorios.jpg") center/cover  no-repeat;
}

.flex-container{
    background-color: #000;
    width: 80vw;
    /* height: auto; */
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 40px; */
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100px;
}

.producto {
    width: 250px;
    margin: 20px 20px 0 20px;
    color: var(--color-letra);
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(252, 252, 252, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
    position: relative;
}

.slider {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.slider > img {
    width: 100%;
    border-radius: 5px;
}

.precio-producto{
    position: absolute;
    top: -6px ;
    left: 10px;
    background-color: #fa0404;
    padding: 2px 5px;
    border-radius: 0 0 10px;
    font-weight: bold;
}

.uv-pol-gar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.uv-pol-gar img{
   width: 4rem;
   height: 4rem;
}

.btn-whatsapp {
    width: 100%;
    background-color: #25D366;
    color: #0a0a0a;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 2s infinite;

}

.btn-whatsapp::after{
    content: "comprar ahora";
}

@keyframes pulse {

    0%,50%{transform: translateY(0);}
    40%{transform: translateY(-10px);}
    60%{transform: translateY(-5px);}
}

h3{
    text-align: center;
}


.bamboo_p::before{
    content: "Personalizables";
}


.kool::before{
    content: "KoolPeruSunglasses";
}
